.sitesContainer {
  display: flex;
  position: relative;
}


$sitesPadding: 5px;

.sitesInnerContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(183, 183, 183, 0.23);
  overflow: scroll;

  padding: $sitesPadding;
}

.site {
  width: 25%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;

  padding: $sitesPadding;
}
