.container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.timeline {
  display: inline-block;
  background: #AB47BC;
  border-radius: 20px;
  padding: 5px 20px;
  text-align: center;
}
