.container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.timeline {
  margin-left: auto;
  margin-right: auto;
  background: #AB47BC;
  width: 45%;
  height: 30px;
  max-width: 900px;
  min-width: 400px;
  border-radius: 20px;
  padding: 5px 20px;

  vertical-align: middle;
  line-height: 33px;
}

.timelineHourTick {
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  color: white;

  &::after {
    content: '';
    background-color: #E91E63;
    display: block;
    position: absolute;
    width: 1px;
    left: calc(50% - 1px);
    top: 0%;
    bottom: 0%;
  }
}
